*{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  padding: 20px;
  margin: 0;
  padding: 0;
}
.custom-file-input {
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
  background-color: #0b57d0;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s;
  margin-right: 20px;
}

.button-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  background: white;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.custom-file-input input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
}
.pdf-viewer {
  overflow: auto;
  border: 2px solid #ccc;
  border-radius: 8px;
  margin-top: 60px; /* Ensure content doesn't hide behind the fixed buttons */
}
.signature-pad-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.signature-pad-container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signature-pad-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  
}

.signature-pad-controls button {
  padding: 5px 10px;
  margin: 0 5px;
  margin-right: 20px;
  padding: 10px 20px;
  background-color: #0b57d0;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
}

#pdf-container {
  position: relative;
}

.signature-image {
  position: absolute;
  cursor: move;
  width: 100px;
  height: 50px;
}
.signature-pad button {
  margin-top: 10px;
}

.resizable-container {
  position: absolute;
  display: inline-block;
}

.resizable-container img {
  width: 100%;
  height: 100%;
}

.resizable-container button {
  position: absolute;
  top: -25px;
  right: -25px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.text-input-annotation {
  position: absolute;
  z-index: 10;
}
.resizable {
  resize: both;
  overflow: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 100vmax;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0;
}
.navbar a{
  color: black;
  position: absolute;
 
}
.logo{
  margin-left: 1.3rem;
}

.top-buttons {
  text-align: right;
  margin-right: 20px; /* Adjust spacing */
  overflow-x: auto; /* Enable horizontal scrolling for overflow */
  display: inline-block;
  white-space: nowrap; 
}

.button {
  margin-right: 20px;
  padding: 14px 20px;
  background-color: #0b57d0;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
}

/* Change color on hover */
.button:hover {
  background-color: #008cba;
  color: white;
}

.button svg {
  vertical-align: middle; /* Align the SVG vertically */
}
.signature-rnd {
  position: absolute;
  border: 2px dashed #475769; /* Border to make it more visible */
  /* background-color: rgba(255, 255, 255, 0.8); s */
}
